/* Réinitialisation des marges et paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mise en forme générale */
body {
    font-family: Arial, sans-serif;
    color: hwb(0 96% 3%);
    line-height: 1.6;
    background-image: url('/p.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #175ef8;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

.intro {
    margin-top: 20px;
}

/* Style des sections */
section {
    padding: 40px 20px;
    margin-bottom: 20px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.projet {
    background-color: #fff;
    border: 1px solid #0e0d0d;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: #0e0d0d;
}

.projet h3 {
    color: #111010;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 8px 0;
}

/* Formulaire de contact */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.competences li {
    background-color: #fff;
    border: 1px solid #0e0d0d;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: #0e0d0d;
}
.competences a{
    background-color: #ccc;
    color: #0e0d0d;
}
.image{
    width: 45%;
}

.accueil{
    color: #0e0d0d;
}
.competences{
    color: #0e0d0d;
}
.cursus{
    color: #0e0d0d;
}
.projet{
    color: #0e0d0d;
}
.Epreuve{
    color: #0e0d0d;
}
.veille{
    background-color: #ccc;
    color: #0e0d0d;
    
}
.accueil {
    background-color: #ccc;
    color: #000;
}